*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scrollbar-width: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-body);
}

h1,
h2 {
  font-family: var(--font-display);
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

a {
  color: inherit;
}

dialog::backdrop {
  background-color: var(--dialog-backdrop-overlay);
}

.error {
  color: var(--red-700);
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
