.hero {
  min-height: 100dvh;

  display: flex;
}

.content {
  flex: 1;
  background-image:
    linear-gradient(var(--hero-overlay), var(--hero-overlay)),
    url("../../assets/geeks_in_the_hall.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 var(--size-1) var(--size-1) var(--gray-500);

  display: flex;
  justify-content: center;
  align-items: center;
}

.heroContent {
  width: min(80dvw, var(--size-128));
  height: min(80dvw, var(--size-96));
  background-color: var(--hero-content-overlay);
  border-radius: var(--radius-xl);
  box-shadow: var(--shadow-xl);

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: clamp(var(--size-4), 3dvw, var(--size-6));
  align-items: center;
}

.heroTitle {
  font-size: clamp(var(--text-4xl), 12dvw, var(--text-7xl));
  color: var(--green-900);
}

.heroButton {
  background-color: var(--gray-700);
  padding-block: var(--size-2);
  padding-inline: clamp(var(--size-8), 5dvw, var(--size-16));
  border-radius: var(--radius-xl);

  font-size: clamp(var(--text-xl), 5dvw, var(--text-3xl));
  font-weight: var(--weight-bold);
  color: var(--gray-100);

  transition: none;
}

.heroButton:hover {
  background-color: var(--gray-800);
  transition: background-color 140ms ease-in-out;
}

.heroButton:active {
  background-color: var(--gray-600);
  transition: none;
}

.heroLink {
  font-size: clamp(--var(--text-xs), 3dvw, var(--text-base));
}

.heroLink {
  color: var(--gray-700);
  font-weight: var(--weight-normal);
}

.heroLink:hover {
  color: var(--gray-800);
  font-weight: var(--weight-semibold);
  transition: color, font-weight;
  transition-duration: 140ms;
  transition-timing-function: ease-in-out;
}

.heroError {
  min-height: var(--size-6);
  color: var(--red-700);
}
