.board {
  padding: var(--size-12) 0;
  position: relative;

  background-color: var(--gray-5 0);
  width: 100%;
  height: 100%;
  box-shadow: inset 0 calc(-1 * var(--size-1)) var(--size-1)
    var(--gray-300);

  display: grid;
  grid-template-columns:
    minmax(0, 1fr)
    minmax(0, 3fr)
    minmax(0, 1fr);
  place-items: center;
}

.viewPort {
  scrollbar-width: none;

  background-color: var(--gray-600);
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: var(--radius-lg);
  box-shadow: 0 0 var(--size-2) var(--gray-400);

  display: grid;
  place-items: safe center;
}

.viewPort.dragging {
  cursor: grab;
}

.viewPort.dragging:active {
  cursor: grabbing;
}

.imageWrapper {
  width: 100%;
  position: relative;
}

.puzzleImage {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.leftPanel {
  padding: var(--size-16) var(--size-8);
  height: 100%;

  display: flex;
  flex-direction: column;
}

.manual {
  flex: 1;
  background-color: var(--yellow-100);
  border-radius: var(--radius-lg);
  box-shadow: 0 0 var(--size-2) var(--gray-400);

  color: var(--yellow-500);
  font-weight: var(--weight-medium);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.manualItem {
  padding: 0 var(--size-6);
}

.leftPanelButtons {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: var(--size-6);
}

.leftPanelButtons > button {
  border-radius: var(--radius-lg);
  padding: var(--size-2);
}

.leftPanelButtons > button:hover {
  transition-property: background-color color font-weight;
  transition-duration: 120ms;
  transition-timing-function: ease-in-out;
}

.newGameButton {
  background-color: var(--gray-400);
  box-shadow: 0 0 var(--size-2) var(--gray-400);
  color: var(--gray-800);
}

.newGameButton:hover {
  background-color: var(--gray-500);
  color: var(--gray-50);
  font-weight: var(--weight-bold);
}

.quitGameButton {
  align-self: center;
  background-color: inherit;
  color: var(--gray-700);
}

.quitGameButton:hover {
  color: var(--red-500);
  font-weight: var(--weight-bold);
  text-decoration: underline;
}

.rightPanel {
  padding: var(--size-16) var(--size-8);
  height: 100%;

  display: flex;
  flex-direction: column;
}

.targetList {
  padding: var(--size-8) 0 var(--size-8) 0;
  list-style: none;

  flex: 1;
  background-color: var(--blue-100);
  border-radius: var(--radius-lg);
  box-shadow: 0 0 var(--size-2) var(--gray-400);

  color: var(--blue-500);
  font-weight: var(--weight-medium);

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: var(--size-8);
}

.targetListItem {
  padding: 0 var(--size-6);
}

.targetListItem.found {
  text-decoration: line-through;
}

.rightPanelButtons {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: var(--size-8);
}

.zoomInButton,
.zoomOutButton {
  padding: var(--size-2);
  background-color: var(--gray-300);
  border-radius: var(--radius-lg);
  box-shadow: 0 0 var(--size-1) var(--gray-300);
  color: var(--gray-700);
}

.zoomInButton:hover,
.zoomOutButton:hover {
  background-color: var(--gray-400);
  transition: background-color 120ms ease-in-out;
}
