.imageWrapper {
  height: 100%;
  width: fit-content;
  position: relative;
}

.puzzleImage {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.marker {
  position: absolute;
  fill: var(--gray-900);
}
