.board {
  position: relative;
  width: 100%;
  height: 100%;
}

.viewPort {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.imageWrapper {
  width: fit-content;
  position: relative;
}

.puzzleImage {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.marker {
  position: absolute;
  fill: var(--gray-900);
}

.zoomButtons {
  position: absolute;
  right: var(--size-32);
  bottom: var(--size-32);
}
