.header {
  background-color: var(--gray-200);
  box-shadow: 0 var(--size-1) var(--size-1) var(--gray-300);
  position: relative;
  z-index: 1;
  display: flex;
}

.homeLink {
  text-decoration: none;
}

.banner {
  padding: var(--size-3);
  color: var(--green-900);
}
