.main {
  /* display: flex; */
}

.imageWrapper {
  min-width: 100dvw;
  position: relative;
}

.puzzleImage {
  width: 100%;
}

.marker {
  position: absolute;
  background-color: var(--marker-overlay);
  border: 2px solid var(--blue-900);
  border-radius: var(--radius-full);
  aspect-ratio: 1;
}
