.imageWrapper {
  min-width: 100dvw;
  position: relative;
}

.puzzleImage {
  width: 100%;
}

.marker {
  position: absolute;
  fill: var(--red-500);
}

.attemptDialog {
  padding: 0;
  max-width: var(--size-192);
  background-color: var(--gray-600);
  border: none;
  border-radius: 0 var(--radius-xl) var(--radius-xl) var(--radius-xl);
  box-shadow: var(--shadow-xl);
}

.attemptDialog::backdrop {
  background-color: var(--dialog-backdrop-overlay);
}

.targetList {
  width: 100%;
  list-style: none;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.targetAttemptButton {
  background-color: inherit;
  height: var(--size-12);
  padding: 0 var(--size-6);
  width: 100%;

  color: var(--gray-200);
  font-weight: var(--weight-semibold);
  text-align: left;
}

.targetAttemptButton:hover {
  background-color: var(--gray-700);
}

.targetAttemptButton.found {
  text-decoration-line: line-through;
}

.targetAttemptButton.found:hover {
  background-color: inherit;
  cursor: default;
}
